.container {
    position: relative;
  }
  body {
    /* background-color: #333; */
    background-color: #474e5d;
  }
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .topnav:hover{
    cursor: pointer;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Habibi', serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #474e5d;
    color: white;
  }
  #intro_box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
  }
  #random_box{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  .regular_title{
      text-align: center;
  }
  .greeting{
      text-align: center;
  }
  .home_content{
    color:rgb(255, 255, 255);
    border: 5px solid #fd9fd6;
    background-color: rgb(124, 218, 255); 
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 450px;
  }
  .regular{
    font-size: 90px;
    font-family: "Dancing Script";
  }
  .nickname{
    font-size: 70px;
    font-family: "Estonia";
  }
  .quote{
    font-size: 60px;
    font-family: "Estonia";
    margin-top: 420px;
  }
  
  /* CSS for button */
  .button {
    display: flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:hover {
    background: #008168;
  }
  
  .button:active {
    background: #006e58;
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }
  a{
    text-decoration: none;
  }
  button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
  }

  /*css for front */
  * {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: #333;
  background-color: #474e5d;
}
.image {
  perspective: 3000px;
  width: 50%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  top: 420px;
}
.image img {
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
  transition: all .4s;
  transform-style: preserve-3d;
}
.image:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
}

/* letter css */
#white_box{
  position: relative;
  background-color: white;
  width: 600px;
  height: 700px;
  border: 2.5px solid black;
  padding: 50px;
  margin: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
audio{
  padding-left: 10px;
}
